/* 
selecteur(s) {
    propriété : valeur;
    propriété : valeur;
    propriété : valeur;
    
}
*/

@font-face {
    font-family: 'Avara-Bold';
    src: url('fonts/Bold/Avara-Bold.eot');
    src: url('fonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bold/Avara-Bold.woff') format('woff'),
        url('fonts/Bold/Avara-Bold.woff2') format('woff2'),
        url('fonts/Bold/Avara-Bold.ttf') format('truetype'),
        url('fonts/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara-Bold Italic';
    src: url('fonts/BoldItalic/Avara-Bold_Italic.eot');
    src: url('fonts/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
        url('fonts/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
        url('fonts/BoldItalic/Avara-Bold_Italic.ttf') format('truetype'),
        url('fonts/BoldItalic/Avara-Bold_Italic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara-Black';
    src: url('fonts/fonts/Black/Avara-Black.eot');
    src: url('fonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Black/Avara-Black.woff') format('woff'),
        url('fonts/Black/Avara-Black.woff2') format('woff2'),
        url('fonts/Black/Avara-Black.ttf') format('truetype'),
        url('fonts/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (min-width:375px) {
    .grid {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: repeat(6 100px);
        column-gap: 10px;
        row-gap: 20px;
        grid-auto-flow: row;
        align-content: center;
    }
}

@media (min-width: 500px) {

    .grid {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px;
        column-gap: 10px;
        row-gap: 20px;
        align-content: center;
    }

}

@media (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 360px 360px 360px 310px;
        grid-template-rows: 360px;
        column-gap: 10px;
        row-gap: 20px;
        align-content: center;
    }
}

img {
    max-width: 100%;
    height: auto;
    align-content: center;
}

h1 {
    text-align: justify;
    font-family: 'Avara-Bold';
    font-weight: bold;
    font-size: 32px;
    color: white;
}

h2 {
    font-family: 'Avara-Bold';
    font-size: 18px;
    color: white;
}

body {
    padding: 15px;
}

p {
    font-family: 'Avara-Bold';
    font-size: 16px;
    text-align: left;
    color: white;
}

a {
    font-family: 'Avara-Bold';
    text-decoration: none;
    color: white
}

a :hover {
    opacity: 0.5;
    transition: 0.8s;
}


.index {
    background-color: royalblue;
}

.about {
    background-color: royalblue;
}

.chaussures {
    background-color: lightpink;
}

.potion {
    background-color: rgb(139, 226, 255);
}

.specimen {
    background-color:rgb(35, 35, 109);
}

.artiste {
    background-color: rgb(255, 255, 255)
}

.posters {
    background-color: rgb(227, 243, 194);
}

.typo {
    background-color: burlywood;
}

.serigraphie {
    background-color: purple;
}

.stardust {
    background-color: gold;
}

.cimetiere{
    background-color:rgb(246, 255, 212);
}

.pommerat-text {
    color: black;
}

.pommerat-titre {
    color: black;
}

.pommerat-a {
    color: black;
}

.a-nature {
    color: rgb(46, 102, 99);
}

.nature-titre {
    color: rgb(46, 102, 99);
}

.nature-texte {
    color: rgb(46, 102, 99);
}

.stardust-a {
    color: black;
}

.stardust-titre {
    color: black;
}

.stardust-texte {
    color: black;
}

.cimetiere-texte{
    color:rgb(35, 35, 109)
}

.typo div {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    column-gap: 10px;
    row-gap: 15px;
    grid-auto-flow: row;
    padding: 30px;
    max-width: 150%;
}

.postergrid {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px 360px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 30px;
}

.pommeratgrid {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px 360px;
    column-gap: 10px;
    row-gap: 20px;
    padding: 20px;
    grid-auto-flow: row;
}

.pommerat-trois {
    grid-row-start: 2;
}

.serigraphiegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    max-width: 140%;
}

.gridspecimen {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    column-gap: 10px;
    row-gap: 10px;

}

.specimen-riso {
    grid-column-end: span 2;
    grid-row-end: span 1;
    max-width: 49%;
}
.cimetiere-grid{
    display: grid;
    grid-template-columns: 550px 550px;
    column-gap: 30px;
    row-gap: 30px;
    align-content:space-around;
}