h1{
    font-family:'Avara-Bold';
    color: white;
}

body{
    background-color:royalblue;
}
p{
    font-family: 'Avara-Bold';
    font-size: 16px;
    color: white;
}
a{
    font-family: 'Avara-Bold';
    text-decoration: none;
    color: white;
}