/* 
selecteur(s) {
    propriété : valeur;
    propriété : valeur;
    propriété : valeur;
    
}
/* FONTES INSTALLÉES */

@font-face {
    font-family: 'Avara-Bold';
    src: url('fonts/Bold/Avara-Bold.eot');
    src: url('fonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bold/Avara-Bold.woff') format('woff'),
        url('fonts/Bold/Avara-Bold.woff2') format('woff2'),
        url('fonts/Bold/Avara-Bold.ttf') format('truetype'),
        url('fonts/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara-Bold Italic';
    src: url('fonts/BoldItalic/Avara-Bold_Italic.eot');
    src: url('fonts/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
        url('fonts/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
        url('fonts/BoldItalic/Avara-Bold_Italic.ttf') format('truetype'),
        url('fonts/BoldItalic/Avara-Bold_Italic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara-Black';
    src: url('fonts/fonts/Black/Avara-Black.eot');
    src: url('fonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Black/Avara-Black.woff') format('woff'),
        url('fonts/Black/Avara-Black.woff2') format('woff2'),
        url('fonts/Black/Avara-Black.ttf') format('truetype'),
        url('fonts/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vtf_victoriannaitalic';
    src: url('fonts/VictoriannaThint_Web/vtf_victorianna_thin_talic-webfont.eot');
    src: url('fonts/VictoriannaThint_Web/vtf_victorianna_thin_talic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VictoriannaThint_Web/vtf_victorianna_thin_talic-webfont.woff') format('woff'),
         url('fonts/VictoriannaThint_Web/vtf_victorianna_thin_talic-webfont.ttf') format('truetype'),
         url('fonts/VictoriannaThint_Web/vtf_victorianna_thin_talic-webfont.svg#vtf_victoriannaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vtf_victoriannathin';
    src: url('fonts/VictoriannaThint_Web/vtf_victorianna_thin-webfont.eot');
    src: url('fonts/VictoriannaThint_Web/vtf_victorianna_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VictoriannaThint_Web/vtf_victorianna_thin-webfont.woff') format('woff'),
         url('fonts/VictoriannaThint_Web/vtf_victorianna_thin-webfont.ttf') format('truetype'),
         url('fonts/VictoriannaThint_Web/vtf_victorianna_thin-webfont.svg#vtf_victoriannathin') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* GRILLES INDEX */

@media (min-width: 350px) {

    .grid {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 350px;
        row-gap: 10px;
        align-content: center;
        grid-auto-flow: row column;
    }

    .gridspecimen {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 350px;
        row-gap: 10px;
        align-content: center;
        grid-auto-flow: row column;
    }

}

@media (min-width: 500px) {

    .grid {
        display: grid;
        grid-template-columns: 320px 320px;
        grid-template-rows: 320px;
        column-gap: 10px;
        row-gap: 20px;
        align-content: center;
    }

}

@media (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 340px 340px 340px 340px;
        grid-template-rows: 360px;
        column-gap: 10px;
        row-gap: 20px;
        align-content: center;
        grid-auto-flow: row column;
    }
}
.numero-un{
    grid-column-start: 1;
    grid-row-start: 1;
}
.numero-deux{
    grid-column-start:2;
    grid-row-start: 1;
}
.numero-trois{
    grid-column-start: 3;
    grid-row-start: 1;
}
.numero-quatre{
    grid-column-start: 4;
    grid-row-start: 1;
}
.numero-cinq{
    grid-column-start:4;
    grid-row-start: 2;
}
.nurmeo-six{
    grid-column-start: 2;
    grid-row-start:2
}
.numero-sept{
    grid-column-start: 1;
    grid-row-start: 3;
}
.numero-huit{
    grid-column-start: 2;
    grid-row-start: 3;
}
.numero-neuf{
    grid-column-start: 3;
    grid-row-start: 3;
}
.numero-dix{
    grid-column-start: 3;
    grid-row-start: 2;
}
.numero-onze{
    grid-column-start: 2;
    grid-row-start: 2;
}
.numero-douze{
    grid-column-start: 1;
    grid-row-start: 2;
}

/* PARAMÈTRES GÉNÉRAUX */
img {
    max-width: 100%;
    height: auto;
    align-content: center;
}

h1 {
    font-family: 'vtf_victoriannathin';
    font-size: 35px;
    color: black;
}

h2 {
    font-family: 'vtf_victoriannathin';
    font-size: 18px;
    color: black;
}

body {
    padding: 15px;
    max-width: auto;
}

p {
    font-family: 'vtf_victoriannathin';
    font-size: 20px;
    text-align: left;
    line-height: 23px;
    color: black;
}

a {
    font-family: 'vtf_victoriannathin';
    text-decoration: none;
    color: black;
}

a :hover {
    opacity: 0.5;
    transition: 0.8s;
}

/* BACKGROUND COLOURS */
.index {
    background-color: white;
}

.contact {
    background-color: white;
}

.about {
    background-color:white;
}

.chaussures {
    background-color: white;
}

.potion {
    background-color: white;
}

.specimen {
    background-color: white;
}

.artiste {
    background-color: white;
}

.posters {
    background-color: white;
}

.typo {
    background-color:white;
}
.crochet{
    background-color:white;
}

.serigraphie {
    background-color: white;
}

.stardust {
    background-color: white;
}

.cimetiere {
    background-color: white;
}

/* TEXT COLOUR */

.pommerat-text {
    color: black;
    max-width: 51em;
    line-height: 24px;
}

.pommerat-titre {
    color: black;
}

.pommerat-a {
    color: black;
}

.a-nature {
    color: rgb(46, 102, 99);
    max-width: 39em;
}

.nature-titre {
    color: rgb(46, 102, 99);
}

.nature-texte {
    color: rgb(46, 102, 99);
    max-width: 39em;
}

.stardust-a {
    color: black;
}

.stardust-titre {
    color: black;
}

.stardust-texte {
    color: black;
}

.cimetiere-texte {
    color: black
}

.gibbons-texte {
    color: black;
    max-width: 40em;
}

.index-texte {
    max-width: 51em;
    line-height: 27px;
}

.chaussures-texte {
    max-width: 35em;
}

.animaux-texte {
    max-width: 53em;
}
.about-text{
    max-width: 50em;
    line-height: 6mm;
}
.crochet-texte{
    color:black;
    max-width: 53em;
}
.ciel-texte{
    color: black;
}
/* GRILLES PAGE PAR PAGE */

.typogrid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    column-gap: 10px;
    row-gap: 15px;
    grid-auto-flow: row;
    padding: 3px;
    max-width: 150%;
}

.postergrid {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px 360px;
    column-gap: 15px;
    row-gap: 15px;
    padding: 30px;
}

.pommeratgrid {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px 360px;
    column-gap: 10px;
    row-gap: 20px;
    padding: 5px;
    grid-auto-flow: row;
}

.pommerat-trois {
    grid-row-start: 2;
}

.serigraphiegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    max-width: 140%;
}

.gridspecimen {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: row;
    padding: 60px;
}

.cimetiere-grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 400px;
    column-gap: 20px;
    row-gap: 20px;
}

.gibbons-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    row-gap: 15px;
    column-gap: 15px;
    grid-auto-flow: row;
    max-width: 40%;
    padding: 60px;
}


.crochet-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 15px;
    row-gap: 15px;
}

.ciel-grid{
    display: grid;
    grid-template-columns: 430px 430px 430px;
    column-gap: 15px;
    row-gap: 15px;
    max-width: 30%;
}

.video-etoiles{
    display: grid;
    position: relative;
    top: 15px;
}

/*FLEXBOX pour agrandir les images en cliquant dessus*/

/*.conteneur-flexbox {
    max-width: 650px;
    margin: 100px auto 0 auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}