/* 
selecteur(s) {
    propriété : valeur;
    propriété : valeur;
    propriété : valeur;
    
}
*/

@font-face {
    font-family: 'Avara-Bold';
    src: url('fonts/Bold/Avara-Bold.eot');
    src: url('fonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bold/Avara-Bold.woff') format('woff'),
        url('fonts/Bold/Avara-Bold.woff2') format('woff2'),
        url('fonts/Bold/Avara-Bold.ttf') format('truetype'),
        url('fonts/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara-Bold Italic';
    src: url('fonts/BoldItalic/Avara-Bold_Italic.eot');
    src: url('fonts/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
        url('fonts/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
        url('fonts/BoldItalic/Avara-Bold_Italic.ttf') format('truetype'),
        url('fonts/BoldItalic/Avara-Bold_Italic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara-Black';
    src: url('fonts/fonts/Black/Avara-Black.eot');
    src: url('fonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Black/Avara-Black.woff') format('woff'),
        url('fonts/Black/Avara-Black.woff2') format('woff2'),
        url('fonts/Black/Avara-Black.ttf') format('truetype'),
        url('fonts/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (min-width:375px) {
    .grid {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: repeat(6 100px); 
        column-gap: 10px;
        row-gap: 20px;
        grid-auto-flow: row;
    }

    @media (min-width: 500px) {
        .grid {
            display: grid;
            grid-template-columns: 250px 250px;
            grid-template-rows: 250px;
            column-gap: 10px;
            row-gap: 20px;
        }
    }

    @media (min-width: 1000px) {
        .grid {
            display: grid;
            grid-template-columns: 360px 360px 360px 310px;
            grid-template-rows: 360px;
            column-gap: 10px;
            row-gap: 20px;
        }
        
    }

    img {
        max-width: 100%;
        height: auto;
        align-content: center;
    }

    h1 {
        text-align: justify;
        font-family: 'Avara-Bold';
        font-weight: bold;
        font-size: 25px;
        color: white;
    }

    h2 {
        font-family: 'Avara-Bold';
        font-size: 18px;
        color: white;
    }

    p {
        font-family: 'Avara-Bold';
        font-size: 16px;
        text-align: left;
        color: white;
    }

    a {
        font-family: 'Avara-Bold';
        text-decoration: none;
        color:white
    }

    a :hover {
        opacity: 0.5;
        transition: 0.8s;
    }

body{
    background-color: royalblue;
}